<?xml version="1.0"?>
<config>
    <modules>
        <Orange_RecentReviews>
            <version>0.1.0</version>
        </Orange_RecentReviews>
    </modules>
	<frontend>
		<layout>
			<updates>
				<recentreviews>
					<file>orange_recent_reviews.xml</file>
				</recentreviews>
			</updates>
		</layout>
	</frontend>
    <global>
        <models>
            <orange_recentreviews>
                <class>Orange_RecentReviews_Model</class>
            </orange_recentreviews>
        </models>
    </global>
    <adminhtml>
    	<acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <orange_recentreviews/>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
    	</acl>
    </adminhtml>
    <default>
        <orange_recentreviews>
            <settings>
                <enable>1</enable>
                <showtitle>1</showtitle>
                <title>Customer Reviews</title>
                <show_ratings>1</show_ratings>
                <limit_characters>0</limit_characters>
                <count>3</count>
            </settings>
        </orange_recentreviews>
    </default>
</config>